.flex{
	display: flex;
	justify-content: space-around;
}

.text-blue{
	color: blue;
}

.text-green{
	color: green;
}

footer{
	padding: 10px 10px;
	background: #D8D8D8;
	margin-top:30px;
	word-wrap: break-word;
}

.jumbotron{
	background: #F3F781;
	margin-top: 51px;
}

.margin-encabezado{
	margin-top: 51px;
}

.footer-adress-icon{
	padding-right: 10px;
}

.bg-yellow-1{
	background: #F2F5A9;
}

