.flex {
  display: flex;
  justify-content: space-around; }

.text-blue {
  color: blue; }

.text-green {
  color: green; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  /* padding: 10px 10px; */
  background: #F7FE2E;
  margin-top: 30px;
  margin-bottom: 0;
  word-wrap: break-word; }

.jumbotron {
  background: #F7FE2E;
  margin-top: 51px;
  margin-bottom: 0; }

.margin-encabezado {
  margin-top: 51px;
  margin-bottom: 0; }

.footer-adress-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.bg-yellow-1 {
  background: #F2F5A9; }

.bg-linea-principal {
  background: green; }
