@yellow: #F7FE2E;
@grispropio: #01A9DB;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.padding_xy(@pad_top: 0, @pad_r: 0, @pad_bottom: 0, @pad_l: 0 ){
	padding-top: @pad_top;
	padding-right: @pad_r;
	padding-bottom: @pad_bottom;
	padding-left: @pad_l;
}


.flex {
  display: flex;
  justify-content: space-around; }

.text-blue {
  color: blue; }

.text-green {
  color: green; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  /* padding: 10px 10px; */
  background: @yellow;
  .margenes(30px, 0);
  margin-bottom: 0;
  word-wrap: break-word; }

.jumbotron {
  background: @yellow;
  .margenes(51px, 0);
 }

.margin-encabezado {
	.margenes(51px, 0);
}

.footer-adress-icon {
	.padding_xy(0px, 10px, 0px,0);
}

.bg-yellow-1 {
  background: #F2F5A9; }

.bg-linea-principal {
  background: @grispropio; 
  
  }
