$yellow: #F7FE2E;
$red: red; 
$green: green;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin padding_xy($pad_top, $pad_r, $pad_bottom, $pad_l ){
	padding-top: $pad_top;
	padding-right: $pad_r;
	padding-bottom: $pad_bottom;
	padding-left: $pad_l;
}

.flex{
	display: flex;
	justify-content: space-around;
}

.text-blue{
	color: blue;
}

.text-green{
	color: green;
}

footer{
	@include padding_xy(10px, 10px, 10px, 10px);
	/* padding: 10px 10px; */
	background: $yellow;
	@include margenes(30px, 0);
	word-wrap: break-word;
}

.jumbotron{
	background: $yellow;
	@include margenes(51px, 0);
}

.margin-encabezado{
	@include margenes(51px, 0);
}

.footer-adress-icon{
	@include padding_xy(0px, 10px, 0px, 0px);
}

.bg-yellow-1{
	background: #F2F5A9;
}

.bg-linea-principal{
	background: $green;
}
